.card {
    border: 2px solid black;
    padding: 20px;
    margin-bottom: 20px;
    max-width: 300px;
}

.card_title{
    color:#333;
    margin-bottom: 50px;
}

.card_price {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 25px;
}